<h1>Mensagens</h1>

<br />

<p>
    <a href="<?php echo $this->url('spike-admin/default',array('action'=>'new')); ?>">Novo</a>
</p>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Mensagem</th>
        <th>Data</th>
        <th>Ação</th>
    </tr>
    
    <?php foreach($this->data as $entity): ?>
    <tr>
    
        <td><?php echo $entity->getId(); ?></td>
        <td><?php echo $entity->getMessage(); ?></td>
        <td><?php echo date_format($entity->getCreatedAt(), 'd/m/Y'); ?></td>
        <td>
            <a href="<?php echo $this->url('spike-admin/default',
                    array('controller'=>'spike','action'=>'edit','id'=>$entity->getId()));?>">Editar</a>
            
            <a href="<?php echo $this->url('spike-admin/default',
                    array('controller'=>'spike','action'=>'delete','id'=>$entity->getId()));?>">Delete</a>
            
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<br />

<?php echo $this->paginationControl($this->data,'Sliding','partials/paginator'); ?>