<h3>Nova Mensagem</h3>
<br />
<?php

$form = $this->form;
$form->setAttribute('action',$this->url('spike-admin/default',array('controller'=>'spike','action'=>'new')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();
?>