
<div class="jumbotron">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center"><?php echo sprintf($this->translate('%sSPIKE%s'), '<span class="zf-green">', '</span>') ?></h1>
		</div>
		<div class="col-md-10">
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="sizing-addon1">POST</span> <input
					type="text" class="input-message form-control" placeholder="Mensagem"
					aria-describedby="sizing-addon1">
			</div>
		</div>
		<div class="col-md-2">
			<button type="button" class="enviar btn btn-success btn-lg">Enviar</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<ul class="return list-group">
		</ul>
	</div>
	<div class="col-md-4"></div>
</div>
